@import url(parte1y2.css);

#subtitulo-Oradores{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.tarjetas-Oradores{

  display: flex;
  margin: 0rem 10rem; 

}
.botoncitos{
    display: flex;
    gap: 0.5rem;

}
.botoncitos button{
     font-size: 100%;
     width: auto;
     height: 2rem;  
     font-weight: bold;
     margin-bottom: 1rem;
     padding-bottom: 1.5rem;
     
}
.botoncitos span{
    color:white;
}

.contenedorParte4{
    display: flex;
    margin: 2rem 0rem;
    gap: 0.1rem;
}

.imagenHonolulu{
    object-fit: cover;
    height: 40rem;
    flex: 50%;
}

.textoYBoton{
    display: flex;
    flex-direction: column;
    flex:50%;
    background-color: #333A40;
    color: white;
    padding: 1.5rem 1rem 0rem 1rem;
    font-size: 1.5rem;
}

#botonEspecial button{
  
    padding: 0.5rem 1rem;
}

/*********************************************************/
/*PARTE 4*/

#convertiteOrador{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}


.convertiteTitulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0rem 0rem 0rem;
    font-size: 1.5rem;
}
.convertiteTitulo h2 span{
 font-size: 4rem ;
}
.convertiteTitulo p span{
   
    text-decoration-line: underline;
    text-decoration-style: dotted;
}


.nombreYapellido{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 0.5rem ;
}
.nombreYapellido input{
width: 40rem;
font-size: 1.5rem;
padding: 0.4rem ;
}
.textAREA{
    display:flex ;
    flex-direction: column;
    align-items: center;
   
}
.textAREA textarea{
    font-size: 2.5rem ;
    width: 82rem;
    height: 10rem;
    padding-left: 1rem;
    border-radius: 0.5rem;
}

.pruebaTexto p{
    color: gray;
    font-size: medium;
    padding-left: 0.7rem; ;   
  
}

#convertiteOrador button{
    width: 82rem;
    align-items: center;
}

.botonEnvio{
    margin-left:  0.5rem; 
    border-radius: 0.5rem;
    border: none;
    color: white;
    font-size: 2rem;
    background-color: #96C93E;
    height: 3rem;
}

/***********************************************************************/
/**************PARTE 5******/

.footercito a{
    text-decoration: none;
    color: white;
    margin-left: 5rem;
}

.footercito{
   
    background-color: #1D4255;
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    padding-top: 1.5rem;
    font-size: 1.5rem;
    
}